.data {
  text-align: center;
  background-color: #232323;
  color: #fff;
  padding: 1em;
  width: 14em;
  box-sizing: border-box;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
  }
}

@media only screen and (max-width: 620px) {
  .data {
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
    }
  }
}
